.chat {
    width: inherit;
    height: inherit;
}
  
.full-width {
    margin-left: 10px;
    min-width: 150px;
    width: 90%;
}

.btn-send {
    margin: 10px;
}

.input-msg {
    position: absolute;
    bottom: 0;
    width: 100%;
}